$salmon: #FF8978;
$mild-salmon: #FF9999;
$teal: #4B94A0;
$light-purple: #8F99FB;
$red: #FF0000;
$light-nude:#FFEBEB;
//*****************//
$TT-pink: #FD7361;
$TT-purple: #808cFB;
$TT-blue: #52D9F6;
$TT-red: #E73F33;

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;

    a {
        text-decoration: none;
        color: #000;

        &:hover {
            color: #000;
        }
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.17em;
    }

    h4 {
        font-size: 1.12em;
    }

    h5 {
        font-size: .83em;
    }

    h6 {
        font-size: .75em;
    }

}

/***************/

.circle-container {
    img {
        width: 100%;
        border-radius: 50%;
    }
}

#Color_Fill_1 {
    fill: $TT-blue;
    fill-rule: evenodd;
    animation-name: color-change;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes color-change {
    0% {
        fill: $TT-blue;
    }

    25% {
        fill: $TT-pink;
    }

    50% {
        fill: $TT-purple;
    }

    75% {
        fill: $TT-red;
    }

    100% {
        fill: $TT-blue;
    }
}

#borderAnimation {
    &:hover {
        animation-name: border-change;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
}

@keyframes border-change {
    0% {
        border-color: $TT-pink;
    }

    25% {
        border-color: $TT-purple;
    }

    50% {
        border-color: $TT-red;
    }

    75% {
        border-color: $TT-blue;
    }

    100% {
        border-color: $TT-pink;
    }
}

.dashed-circle {
    // height should equal width, check circle.js
    width: 100%;
    max-width: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 50%;
    border: 5px $mild-salmon dashed;
}

.home-header {
    width: 100%;
    min-height: 100%;
    background-color: $teal;
    padding: 6em 0 1em 0; // nav is currently 88px fixed to the top and 

    .heading {
        color: #FFF;
        font-size: 4em;
        font-weight: bold;
    }

    .subhead {
        color: white;
        font-size: 2em;
    }

    .background-img {
        position: absolute; // should be changed???
        width: auto;
        height: 100vh;
        margin: auto;
        opacity: 0.75;
        top: 0;
        overflow: hidden;
        // transform:scaleX(-1);
    }

    .social-media-row {
        margin: 3em 0;

        div {
            img {
                width: 3em;
            }
        }
    }
}

.learn-container {
    padding: 7% 0;
    background-color: $light-nude;

    .home-learnMore {
        color: $red;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
            color: $red;
        }
    }

    h1 {
        margin: .5em 0;
        font-size: 2em;
        font-weight: bold;
    }

    p {
        margin: .5em 0;
    }

    .dashed-circle {
        color: #000;

        &:hover {
            text-decoration: underline;
            color: #000;
        }
    }

    .home-subtitle {
        font-size: 1.2em;
        font-weight: bold;
        margin: 10px 0 10px 0;
        width: 100%;
    }

    .subhead {
        margin: 0;
        color: $salmon;
        font-size: 1.1em;
        font-weight: bold;
    }
}

.sponsor-container {
    margin: 7% 0;

    h1 {
        font-size: 2.5em;
        font-weight: bold;
        margin: 0 0 2em 0;
    }

    .home-sponsorlogo {
        width: 60%;
        padding: 5%;
        filter: grayscale(100%);
    }
}

.quote-container {
    background-color: $teal;
    width: 100%;
    padding: 10em 0;

    p {
        font-size: 1.25em;
        color: #FFF;
    }

    .quote {
        font-size: 3.5em;
        font-weight: bold;
        color: #FFF;
        margin: 0 0 3em 0;
    }

    .image-container {
        position: relative;
        left: -16.6%; // 2 col size
    }

    img {
        margin: 40% 0 0 0;
        width: 100%;
        border-radius: 3em;
        opacity: 0.15;
    }
}

.hackathon-container {
    margin: 10% 0;

    a {
        font-weight: bold;
        color: $red;
    }

    p {
        margin: 1em 0;
    }

    h1 {
        margin: 0 0 3em 0;
        font-size: 2.5em;
    }

    h2 {
        font-weight: bold;
    }

    a {
        display: inline-block; // prevents anchor from stretching

        &:hover {
            text-decoration: none;
            color: $red;
        }
    }

    .height-change-js-2 {
        h2 {
            &:nth-child(2) {
                color: $red;
            }
        }
    }


}

.article-container {
    background-color: $light-nude;
    padding: 7% 0;

    li {
        margin: 2em 0;
    }

    .row {
        margin: 5em 0;
    }

    h2 {
        margin: 1em 0;
        color: $mild-salmon;
        font-weight: bold;
    }

    p {
        display: inline;
        font-size: 1.5em;
        font-weight: bold;
    }

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.stats-container {
    margin: 10% 0;

    h1 {
        font-weight: bold;
        text-align: center;
        margin: 2em 0;
    }

    h3 {
        font-weight: bold;
    }

    .dashed-circle {
        flex-direction: column;
        padding: 1em;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        padding: 0 20%;
        row-gap: 1em;

        div{
            &:first-child{
                grid-area: 1/1;
            }

            &:nth-child(2){
                grid-area: 1/3;
            }

            &:nth-child(3){
                grid-area: 1/5;
            }

            &:nth-child(4){
                grid-area: 2/2;
            }

            &:last-child{
                grid-area: 2/4;
            }

        }
    }

}

/*** Media Queries ***/


// bootstrap sm screen
@media screen and (max-width: 767px) and (min-width: 576px) {

    .sponsor-container {
        .home-sponsorlogo {
            width: 100%;
        }
    }

    .quote-container {
        .quote {
            font-size: 1.5em;
        }

        .image-container {
            left: -25%; // 3 col size
        }
    }

}