/*** newsletter Start ****/

.newsletter-container h3 {
  margin-top: 5%;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}


.newsletter-container h4 {
    color: white;
    text-align: left;
    padding-right:30px;
    font-family: Roboto,Helvetica-Light, sans-serif; 
    font-weight: 400;
    font-size: 18px;
    margin-top:0px;
}

.newsletter-container .input-container {
  margin: 3em 0;
}

.newsletter-container .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mc_embed_signup .subscribe input {
  margin: 0;
  padding: 0 5em;
  font-weight: bold;
  background-color: #dc3545;
  border-radius: .5em;
}

#mc_embed_signup .subscribe input:hover {
  background-color: #dc3545;
}

@media only screen and (max-width: 600px) {

  #mc_embed_signup {
        padding:0px;
    }

  }

/*** newsletter End ***/
