
:root {
    --salmon: #FF8978;
    --teal: #4B94A0;
    --light-purple: #8F99FB;
    --red: #FF0000;
    --light-nude:#FFEBEB;
}
html, body {
    margin:0;
    padding:0;
    font-family: Helvetica;
}

.color-background {
    width: 100%;
}


.logo-bg-img {
    width: auto;
    height: 110vh;
    position: absolute;
    margin-top: -2%;
    margin-left: 5%;
    opacity: 0.12;
}
  
.title {
    margin-top: 3%;
    color: #4B94A0;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#about-heading {
    color: #ffffff;
    margin-top: 32%;
    margin-left: 25%;
    font-size: 65px;
    font-weight: bold;
}

#about-subheading {
    color: #ffffff;
    margin-top: 28%;
    font-size: 23px;
    padding-right: 18%;
}
.home-heading {
    color: white;
    padding-top: 35vh;
    padding-left:20%;
    font-size: 65px;
    font-weight: bold;
}

.home-subhead {
    color: white;
    padding-left:20%;
    padding-top:10px;
    font-size:2vw;
}
/* @media only screen and (max-width: 768px) {
    .home-heading{
        font-size:3rem;
        padding: 25vh 10% 0 10%;
    }
    .home-subhead{
        padding: 10px 10% 0 10%;
    }
} */
.home-subheading{
    color: var(--salmon) !important;
    font-size:1rem;
    font-weight:bold;
}

.home-title{
    font-size:2rem;
    margin:10px 0 10px 0;
    font-weight:bold;
    padding: 30px 0 30px 0;
}

<<<<<<< HEAD
.home-subtitle{
    font-size:1.3rem;
    font-weight:bold;
    margin:10px 0 10px 0;

}

/* .navbar {
    background-color: url('{{page.bg_color}}');
} */
.home-learnmore{
    font-size:1.2rem;
    color: var(--red);
    font-weight:bold;
}

.home-quote{
    font-size: 20px;
    font-weight:bold;
    color:white;
}

.more-circle{
    margin-top:-40px;
}
/* @media only screen and (max-width: 768px) {
    .more-circle{
        padding-top:20px;
        margin-top:0;
    }
} */

=======
>>>>>>> parent of b5828e0... footer
#menu {
  background-color:red;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  padding-top: 80px;
}

.stats {
    margin-top: 5%;
    margin-left: 5%;
}

.dashed-circle{
    height: 200px ;
    width: 200px ;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin-left: 10%;
    border-radius: 50%;
    border:3px dashed red;
<<<<<<< HEAD
}
=======
}
>>>>>>> parent of b5828e0... footer
