:root{--salmon:#FF8978;--mild-salmon:#FF9999;--teal:#4B94A0;--light-purple:#8F99FB;--red:#E73F33;--light-nude:#FFEBEB}

/*Primary Elements*/
body,html{margin:0;padding:0;font-family:Roboto}
h1,h2. h3{font-family:Barlow}
section{padding-top:7%;padding-bottom:7%}

/*Color Backgrounds*/
.bg-blue{background-color:#51dbf6}
.bg-lightpurple {background-color:#E7E9FB}
.bg-purple{background-color:#808cfb}
.bg-purple-2{background-color:#d1d5f9}
.color-background{width:100%;min-height:70vh;height:auto}
.bg-lightgrey {background-color: #EFEFF4;}
.bg-navy {background-color: #181D46;}
.bg-purple {background-color: #808CFB;}
.bg-pink {background-color: #FDA094;}
.bg-white {background-color:#FFFFFF;}
.bg-text-pink {background-color: rgba(231, 63, 51, 0.3); padding:1% 5% 1% 5%; border: 0px solid; border-radius: 50px;}
.bg-prehacks {background: rgb(191,241,60); background: linear-gradient(90deg, rgba(69,184,207,1) 0%, rgba(191,241,60,1) 150%);}
.bg-prehacks-blue {background-color: #45B8CF;}


/*Image Backgrounds*/
.background-2{background:url(../imgs/photos/explore_vr.png) no-repeat center center fixed;background-size:cover;background-color:#808cfb}
.background-3{background:url(../imgs/photos/hacker-celebrate-purple.png) no-repeat center center fixed;background-size:cover;background-color:#808cfb}
.background-4{background:url(../imgs/photos/inspire.png) no-repeat center center fixed;background-size:cover;background-color:#808cfb}
.background-5{background:url(../imgs/photos/recruit.png) no-repeat center center fixed;background-size:cover;background-color:#808cfb}
.background-5{background:url(../imgs/photos/ttb_jump.png) no-repeat center center fixed;background-size:cover;background-color:#808cfb}
.background-6{background:url(../imgs/photos/prehacks-2020.jpg) no-repeat center center;background-size:cover;background-color:#808cfb; height:600px;}
.bg-test{background:url(../imgs/awards/bg_test_2.png) no-repeat center center;background-size:cover;background-color:#808cfb;}
/*Text Styling*/
.purple{color:#808cfb}
.center{text-align:center}
.align-items-center {display: flex; align-items: center;  /*Aligns vertically center */justify-content: center; /*Aligns horizontally center */}

/*List Styling*/
li.partner{text-align:left;list-style-type:none;font-family:Roboto;font-size:18px;color:#181d46}


/*Section Styling*/
.circle-container{border:2px #efeff4 solid;padding:30px;margin-top:30px;border-radius:10px}
.bottom{padding-top:0;padding-bottom:10%}
.space{padding-left:50px;padding-right:50px}
.about-section{height:100%}
.prehacks-schedule {padding-top: 0px;}
.prehacks{margin-left: 10%}
.organize-section {padding-top:5%;padding-bottom:5%}

/*Paragraph Styling*/
#awards-header{font-weight:bolder;color:#181d46;font-size:40px;padding:10px 0 10px 0;font-family: 'Abril Fatface', cursive;}
.awards-title {font-family: 'Abril Fatface', cursive;}
@media only screen and (min-width : 1000px) {
    .awards-title {
        font-size: 3.5em;
    }
}
#awards-subheader{font-weight:600;color:#181d46;font-size:30px;padding:10px 0 10px 0;font-family:Barlow; text-transform: uppercase;}

#prehacks-header{font-weight:bolder;color:#181d46;font-size:28px;padding:10px 0 10px 0;font-family:Barlow}
#prehacks-subheader{font-weight:bolder;color:#181d46;font-size:24px;padding:10px 0 10px 0;font-family:Barlow}
#prehacks-paragraph{font-size:18px;padding:10px 0 15px 0;font-weight:400;color:#181d46;font-family:Roboto}
.prehacks-sublead {font-size: 1.7rem; font-weight: 300;}
.prehacks-sublead-2 {font-size: 1.4rem; font-weight: 300;}

#home-heading{color:#fff;margin-top:30%;margin-left:10%;font-size:50px;font-weight:700;text-align:left;font-family:Barlow;}
#home-header{color:#fff;margin-top:30%;font-size:50px;font-weight:300;text-align:center;font-family:Barlow}
#home-heading-bold{font-weight:700}
.about-header{font-weight:700;padding-bottom:50px;text-align:left;color:#181d46;font-family:Barlow;font-size:32px}
.about-header-3{font-weight:700;padding-bottom:50px;text-align:center}
.hack-header-3{font-weight:500;padding-bottom:50px;text-align:center;font-size:24px}
.about-header-2{font-weight:700;padding-bottom:30px;text-align:left}
#about-heading{color:#fff;margin-top:32%;margin-left:25%;font-size:60px;font-weight:700}
#hackathon-header{font-weight:bolder;color:#181d46;font-size:28px;padding:10px 0 10px 0;margin-left:5%;font-family:Barlow}
.header-2{font-weight:bolder;color:#181d46;font-size:32px;padding:10px 0 40px 0;margin-left:5%;font-family:Barlow;text-align:center}
.header-4{font-weight:bolder;color:#181d46;font-size:32px;padding:10px 0 40px 0;margin-left:5%;font-family:Barlow;text-align:left}
#subheader{font-weight:bolder;font-size:24px;padding:10px 30px 15px 30px;font-family:Barlow;color:#181d46}
h5#subheader{font-weight:bolder;font-size:22px;padding:10px 0 0px 0;margin-left:5%;font-family:Barlow;color:#181d46; text-align:center;}
#hackathon-paragraph{font-size:18px;padding:10px 0 15px 0;margin-left:5%;font-weight:400;color:#181d46;font-family:Roboto}

#quote-paragraph{text-align: left; font-size:18px;padding:10px 0 15px 0;font-weight:300;color:#181d46;font-family:Roboto}
#quote-subheader{text-align: left; font-weight:500;color:#181d46;font-size:18px;padding:0px 0 10px 0; font-family:Barlow}
#quote-header{text-align: left;font-weight:bolder;font-size:24px;padding:10px 30px 0px 0px; font-family:Barlow;color:#181d46}

#hackathon-paragraph-2{font-size:18px;padding:10px 0 15px 0;font-weight:400;color:#181d46;font-family:Roboto}

.job-heading{font-size:32px;font-weight:bolder;color:#181d46;font-family:Barlow; padding:10px 0px 10px 0px;}
.job-title{font-size:1.3rem;font-weight:bolder;color:#181d46;font-family:Barlow; padding-top:10px;}
.job-paragraph{padding-right:12%;font-size:20px; color:#181d46; font-family: Roboto;}
.title{margin-top:3%;text-align:center;font-weight:700;font-size:45px;padding-top:2%;padding-bottom:2%}
.impact-name{font-size:20px;text-align:center;font-family:Barlow;color:#fff;font-weight:lighter}
.study-heading {font-size: 32px; font-weight: bolder; color: #181D46; font-family: Barlow;}
.study-paragraph {padding-right: 12%; font-size: 18px;margin-top: 5%;margin-bottom: 100px;color: #181D46;font-family: Roboto;}

.heading {font-size: 32px; font-weight: bolder; color: #181D46; font-family: Barlow;}
.paragraph {font-size: 18px;margin-top: 2%;color: #181D46;font-family: Roboto;}

.resource-subheader {border: 2px #EFEFF4 solid;padding: 10px;border-radius: 10px;}
.resource-subheader:hover {border: 2px #FC7361 solid;padding: 10px;border-radius: 10px;}
.subheading {font-weight: 300;text-align: center; font-size: 21px; color: white;}
#hackathon-paragraph-grey{font-size:18px;color:#868686;padding:10px 0 15px 0;font-weight:300;font-family:Roboto}
.ad-pretitle {color:#E73F33; font-size:18px;}
.ad-title {color:#181D46; font-size:28px; font-weight: 900; padding:5% 0% 0% 0%;}
.ad-subtitle {color:#868686; font-size:14px; font-weight: 300; padding-bottom:5%;}

.subheading-navy {
    font-weight: 300;
    text-align: center;
    font-size: 21px;
    color: #181D46;
}
.impact-name {
    font-size: 20px;
    text-align: center;
    font-family: Barlow;
    color: white;
    font-weight:lighter;
}

.program {
    margin-left: 3%;
}

.program-subheader {
   font-size: 24px;
   padding-top: 20px;
   text-align: left;
}

.program-paragraph {
    font-size: 18px;
    text-align: left;
    font-weight: 300;
    padding-bottom: 20px;
}

.newsroom-credit{font-size:16px; color: #C5C5C5;}

/*Navigation Styling*/
a.nav-link{font-size:14px!important}
.dropdown-item:hover{background-color:#9ce4f3}
.navbar-light .navbar-text a{background-color:#9ce4f3;color:#181d46;border-radius:5px}
a.nav-link{font-size:24px;color:#fff;padding-top:10px}
#menu{background-color:#e73f33;position:absolute;top:0;right:0;left:0;min-height:100%;padding-top:80px}

/*Ticker Styling*/
.ticker{font-size:20px;color:#181d46;font-family:Barlow;font-weight:700}
.ticker-subtitle{font-size:18px;font-weight:400;color:#181d46;font-family:Roboto}
.ticker-link{color:#181d46}
.ticker-link:hover{color:#333f9b}
.ticker-section{padding-top:2%;padding-bottom:2%}
.prehacks-ticker-section{padding-top:2%;padding-bottom:2%}
.awards-ticker-section{padding-top:2%;padding-bottom:2%}
a.green{color:#bff13c}
a.green:hover{color:#81A50F}


/*Image Styling*/
.awards-headshot {float:left; width:150px; padding: 10px; border-radius: 50%; margin:10px; }
.headshot {width:100px; border-radius: 50%; margin-bottom:10px; }
.prehacks-logo {width:10%; float:right; padding-right: 15px;}
.eventpage-logo {width:40%; display: block; margin-left: auto; margin-right: auto;}
.col-2-img{width:90%;padding-left:50px}
.col-2-img-lg {width:110%;padding-left:0px;}

/*Icon Styling*/
#social-icon{width:20px;margin-bottom:10px;margin-right:5px}
#icon{width:50px;margin-bottom:10px;margin-right:5px}
#newsletter-icon{width:50px;display:block;margin-left:auto;margin-right:auto;}

/*Link Styling */
.prehacks-link {color:#181D46;margin-top:2%}
.prehacks-link:hover {color:#333F9B;margin-top:2%}
.blog-link{color:#e73f33;text-decoration:none;margin-top:2%}
a.blog-link:hover{color:#e73f33}
a:hover{text-decoration:none}
#lost {color:#E73F33;}

/*FAQ*/
.card-header { background-color: #EFEFF4; border: 1px solid;}
.btn-link{color: #181D46; font-weight: 500;}
.btn-link:hover, active, visited {color: #181D46; text-decoration: none}
.card {margin-bottom: 20px;}
#accordion {float:center;}

/*History Cards*/
.card-title, .card-text, .stats-list {text-align: left}
.stats-list {list-style-type: none; padding: 0px;}
.card {border-radius:25px}
.card-img-top {border-top-left-radius:25px; border-top-right-radius:25px;}
.card-title {font-family: Barlow; font-size: 20px; font-weight:bolder; color: #181D46;}

/*Button Styling*/
#learn-more-button{color:var(--red);font-weight:bolder;font-size:18px}
#learn-more-button:hover{text-decoration:underline;color:#ff5b4f}a{text-decoration:none!important}a:hover{text-decoration:none!important}
.btn-primary {background-color:#E73F33; border-color: #E73F33;}
.btn-primary:hover,active,visited {background-color:#B23027; border-color: #B23027;}
.btn-secondary {float:center; background-color: #181d46; padding: 10px 20px 10px 20px; border:none;}
.btn-secondary:hover {float:center; background-color: #333F9B; padding: 10px 20px 10px 20px; border:none;}

.btn-secondary-blue {float:center; background-color: #333F9B; color: white; padding: 10px 20px 10px 20px; border:none;}
.btn-secondary-blue:hover {background-color: #222A68; color: white;}


/*Quote Styling*/
.quote-header{color:#fff;font-size:28px;font-weight:600;margin-left:20%;margin-right:20%}
.quote-person{color:#fff;margin-top:3%;font-weight:300}


@media only screen and (max-width:1000px){
    img{
        display:none
        }
    }
@media only screen and (max-width:600px){
    img{
        display:none
    }
    .awards {margin:0% 5% 0% 5%; width:auto;

    }

    .prehacks{margin-left: 0%; padding: 0px 50px 0px 50px;}

    .prehacks-sublead-2 {font-size:1.3rem;}

    .prehacks-ticker-section {padding:20px; text-align: left;}

    .awards-ticker-section {text-align: left;}

    #hackathon-paragraph {text-align: left}

    #subheader{
        padding:10px 0px 15px 0px;
    }
    .hide-mobile{
        display:none
    }
    .newsletter-header{
        padding:none
    }
    .about-header{
        text-align:left;
        padding-top:40px;
        padding-bottom:20px
    }
    .about-header-3{
        text-align:left;
        padding-top:40px
    }

    .study-heading {
        font-size:22px
    }

    .study-paragraph{
        font-size:16px;
        margin-bottom: 0px;
    }

    .space {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-header-2{
        text-align:left;
        padding-top:40px
    }
    .about-section{
        padding:0 50px 0 50px
    }
    #mc_embed_signup{
        padding:none
    }
    .quote-header{
        color:#fff;
        font-size:16px;
        font-weight:600;
        margin-top:8%;
        padding:0 20px 0 0
    }
    .quote-person{
        font-size:16px
    }
    .color-background{
        min-height:auto
    }
    .navbar-brand{
        display:none
    }
    #footer-border{
        display:none!important}
    }
}





