:root {
    --salmon: #FF8978;
    --mild-salmon: #FF9999;
    --teal: #4B94A0;
    --light-purple: #8F99FB;
    --red: #FF0000;
    --light-nude:#FFEBEB;
}
html, body {
    margin:0;
    padding:0;
    font-family: Helvetica;
}

.color-background {
    width: 100%;
    min-height: 100vh;
    height: auto;
}

.image-background {
    width: 100%;
    height: 100vh;
    background: url(../imgs/photos/nav_jump.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.layer {
    background-color: rgba(143,153,251, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.logo-bg-img {
    width: auto;
    height: 110vh;
    position: absolute;
    margin-top: -2%;
    margin-left: 5%;
    opacity: 0.12;
}
  
.title {
    margin-top: 3%;
    color: #4B94A0;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    padding-top: 2%;
    padding-bottom: 2%;
}

#home-heading {
    color: #ffffff;
    margin-top: 50%;
    margin-left: 10%;
    font-size: 50px;
    font-weight: bold;
}

#home-subheading {
    color: #ffffff;
    font-size: 25px;
     margin-left: 10%;
     margin-top: 3%;
}

#about-heading {
    color: #ffffff;
    margin-top: 32%;
    margin-left: 25%;
    font-size: 60px;
    font-weight: bold;
}

#about-subheading {
    color: #ffffff;
    margin-top: 28%;
    font-size: 23px;
    padding-right: 18%;
}

#hackathon-header {
    font-weight: bolder;
    font-size: 40px;
    padding: 10px;
    margin-left: 5%;
}

#hackathon-paragraph {
    font-size: 20px;
    padding: 10px;
    margin-left: 5%;
}

#learn-more-button {
    color: var(--red);
    font-weight: bolder;
    margin-left: 6%;
    font-size: 20px;
}

a {
    text-decoration: none !important;
} 

a:hover {
    text-decoration: none !important;
}

#menu {
  background-color:red;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  padding-top: 80px;
}


.stats {
    margin-top: 5%;
    margin-left: 5%;
}

.dashed-circle{
    text-align: center;
    vertical-align: middle;
    height: 280px;
    width: 280px;
    margin-left: 10%;
    border-radius: 50%;
    border:8px dashed var(--light-nude);
}

.number {
    margin-top: 30%;
    font-weight: bolder;
    font-size: 40px;
}

.impact-name {
    font-size: 30px;
    text-align: center;
}

.study-heading {
    font-size: 38px;
    margin-top: 15%;
    margin-left: 15%;
    font-weight: bolder;
}

.study-paragraph {
    padding-right: 12%;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 100px;
}

.align-items-center {
    display: flex; 
    align-items: center;  /*Aligns vertically center */
    justify-content: center; /*Aligns horizontally center */
}

.home-sponsorlogo{
    width: 60%;
    padding: 5%;
    height: auto;
    vertical-align: middle;
    filter: grayscale(100%);
}

#sponsor-header {
    font-weight: bolder;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
}

#quote-header {
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin-top: -8%;
}

#quote-person {
    color: white;
    margin-top: 3%;
    font-weight: 100;
}

.fade-img {
    opacity: .3;
    margin-top: 15%;
    width: 110%;
    right: 20%;
    left: 0;
    position: relative;
}

