:root {
  --salmon: #ff8978;
  --mild-salmon: #ff9999;
  --teal: #4b94a0;
  --light-purple: #8f99fb;
  --red: #e73f33;
  --light-nude: #ffebeb;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

h1,
h2,
h3 {
  font-family: Barlow;
  color: #fff;
  margin: 0 !important;
}

h1 {
  font-weight: 700;
  padding-bottom: 50px;
  letter-spacing: -4px;
  text-align: center;
  font-size: 64px;
  -webkit-text-stroke: 3px #98a2fb;
  width: 100%;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  width: 100%;
}

h2 {
  font-weight: bold;
  text-align: left;
  font-size: 32px;
  width: 100%;
}

p {
  text-align: left;
  font-size: 18px;
  padding: 10px 0 15px 0;
  font-weight: 300;
  color: #fff;
  font-family: Roboto;
}

.byte-img {
  max-width: 100%;
  height: 65%;
}

.bg-miami {
  background-color: #222a68;
}

.bg-miami-gradient {
  background-image: linear-gradient(#635293, #26316e);
}

.background-above-the-fold {
  background: url(../imgs/above-the-fold-bg.svg);
  background-size: cover;
  background-color: #222a68;
}

.footer-background {
  width: 100%;
  position: absolute;
  z-index: -1;
}

li.partner {
  text-align: center;
  list-style-type: none;
  font-family: Roboto;
  font-size: 18px;
  color: #181d46;
}

#hackathon-paragraph {
  font-size: 18px;
  padding: 10px 0 15px 0;
  margin-left: 5%;
  font-weight: 400;
  color: #181d46;
  font-family: Roboto;
}

#hackathon-paragraph-2 {
  font-size: 18px;
  padding: 10px 0 15px 0;
  font-weight: 400;
  color: #181d46;
  font-family: Roboto;
}

.title {
  margin-top: 3%;
  text-align: center;
  font-weight: 700;
  font-size: 45px;
  padding-top: 2%;
  padding-bottom: 2%;
}

.paragraph {
  font-size: 18px;
  margin-top: 2%;
  color: #181d46;
  font-family: Roboto;
}

.dropdown-item:hover {
  background-color: #9ce4f3;
}

a.nav-link {
  font-size: 20px;
  color: #fff !important;
  padding-top: 10px;
}

#menu {
  background-color: #e73f33;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  padding-top: 80px;
}

.ttm-promo {
  width: 100%;
}

.ttm-date-time-location {
  width: 100%;
}

.drive-in-footer {
  width: 100%;
}

.prehacks-logo {
  width: 10%;
  float: right;
  padding-right: 15px;
}

.sponsor-boxes {
  transition: opacity 0.1s;
  background: #222a68;
  margin: 6px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.sponsor-img {
  height: 50px;
  max-width: 100px;
}

.col-2-img {
  width: 90%;
  padding-left: 50px;
}

.col-2-img-lg {
  width: 110%;
  padding-left: 0;
}

.partner-logo {
  width: 75%;
  margin-bottom: 5%;
  align-content: center;
}

.made-with-confetti {
  color: #fff;
}

.social-container {
  background-color: #26316e;
  display: flex;
  flex-direction: column;
}

.social-icon {
  height: 30px;
  margin-right: 10px;
}

#icon {
  width: 50px;
  margin-bottom: 10px;
  margin-right: 5px;
}

a:hover {
  text-decoration: none;
}

.card {
  margin-bottom: 20px;
}

.card-text,
.card-title {
  text-align: left;
}

.card {
  border-radius: 25px;
}

.card-img-top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.faq-item {
  border-radius: 34px !important;
  background-color: #131738 !important;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-family: Barlow;
  font-size: 20px;
  font-weight: bolder;
  color: #181d46;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

active {
  background-color: #b23027;
  border-color: #b23027;
}

@media only screen and (max-width: 1000px) {
  img {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  img {
    display: none;
  }

  .prehacks {
    margin-left: 0;
    padding: 0 50px 0 50px;
  }

  #hackathon-paragraph {
    text-align: left;
  }

  .hide-mobile {
    display: none;
  }

  .color-background {
    min-height: auto;
  }

  .navbar-brand {
    display: none;
  }
}

.h-card {
  height: fit-content;
  width: 290px;
  border: 1px solid #181d46;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  color: #181d46;
}

@media only screen and (max-width: 1200px) {
  img {
    display: initial;
  }
}

@media only screen and (max-width: 400px) {
  .h-card {
    width: 100%;
  }
}

#jumpBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

#jumpBtn img {
  height: 75px;
  width: auto;
}

/* Style the tab */
.tab {
  overflow: hidden;
  /* border: 1px solid #ccc;
  background-color: #f1f1f1; */
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 6px;
  transition: 0.3s;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #98a2fb;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #131738;
  border-radius: 4px;
}

/* Style the tab content */
.tabcontent {
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #131738;
  border-top: none;
}

table {
  padding: 2px;
  background-color: #131738;
  filter: alpha(opacity=40);
  opacity: 0.95;
  border: 1px #131738 solid;
  border-collapse: collapse;
  width: 100%;
  color: white;
}

th,
td {
  padding: 0px 0px 0px 0px;
  width: fit-content;
}

.bottomborder {
  border-bottom: 1px solid black;
}

.startTime {
  width: 85px;
}

.eventName {
  width: 300px;
}

.webdev {
  color: #35e1e8;
}

.gamedev {
  color: #fe2153;
}

.appdev {
  color: #4672cc;
}

.design {
  color: #cc7ed2;
}

.getinvolved-col {
  flex: 5 10 20%;
}

.btn-ttmiami-cyan {
  background-color: #51dbf6;
  border-color: #51dbf6;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
  width: 100%;
}

.btn-ttmiami-red {
  background-color: #e73f33;
  border-color: #e73f33;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
  width: 100%;
}

.btn-ttmiami-yellow {
  background-color: #fff622;
  border-color: #fff622;
  color: #000;
  font-weight: bold;
  border-radius: 30px;
  width: 100%;
}

#register-button button {
  border-radius: 3rem;
  border-color: #333f9b;
  background-color: #51dbf6;
  border-width: 5px;
  font-weight: bold;
  font-family: Barlow; 
  box-shadow: 20px 20px 3px rgba(0, 0, 0, 0.4);
  font-size: 3rem !important;
  width: 100%;
}

.getinvolved {
  background: #222a68;
  padding: 1%;
  margin: 1%;
  opacity: 0.9;
  border-radius: 8px;
  transition: opacity 0.1s;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
}

/* TODO */
.getinvolved-button {
  color: inherit;
}

.getinvolved-button:hover {
  color: gray;
}

.getinvolved-img {
  height: 50px;
  max-width: 100px;
}

.card-col {
  flex: 2 50 20%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background: #131738;
  padding: 1%;
  margin: 1%;
  opacity: 0.9;
  border-radius: 8px;
  color: white;
}

.card-img {
  width: 100px;
  height: 100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
