<footer class="page-footer font-small p-5" style="background: white">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left" style="padding-bottom: 0%; padding-top: 0%">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-8 mt-md-0 mt-3">
                <!-- Content -->
                <a class="navbar-brand" href="#">
                    <img src="imgs/logos/lockup_techtogether_color.png" height="50" alt="logo">
                </a>

            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3" id = "footer-border">
            <!-- Grid column -->
            <div class="col-2" id = "footer-border">

                <!-- Links -->
                <ul class="list-unstyled" style="font-size: 15px">
                    <li>
                        <a href="/about" style="text-decoration:none; font-weight: bold; color: darkgray;">About</a>
                    </li>
                    <li>
                        <a href="/chapters" style="text-decoration:none; color: darkgray">Chapters</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <div class="col-2 " id = "footer-border">

                <ul class="list-unstyled" style="font-size: 15px">
                    <li>
                        <a href="/research" style="text-decoration:none; color: darkgray">Research</a>
                    </li>
                    <li>
                        <a href="/donate" style="text-decoration:none; color: darkgray">Donate</a>
                    </li>
                    <li>
                        <a href="/history" style="text-decoration:none; color: darkgray">History</a>
                    </li>
                    <li>
                        <a href="/corporate" style="text-decoration:none; color: darkgray">Corporate</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright py-3" style="padding-bottom: 0%">
        <div class="row" style="border-top: 2px solid gainsboro; ">
            <div class="col-3 text-left" style="padding-top: 2%; font-size: 15px; color: darkgray">
                ©TechTogether 2019
            </div>
            <div class="col">

            </div>
            <div class="col-5 text-right" style="padding-top: 2%; font-size: 15px; color: darkgray">
                <a>designed and developed with tons of  &#128151 and &#9749 <br> from the TechTogether Team</a>
            </div>
        </div>
        <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- Scripts -->
<script src="js/circle.js" type="text/javascript"></script>
