<!-- Footer -->
<div class="color-background" style="background-color: #f2efef">

    <div class="container-fluid">
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup {
                background: #fff;
                clear: left;
                font: 14px Helvetica, Arial, sans-serif;
                width: 100%;
            }

            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup" style="background-color: #f2efef; padding: 10%">
            <form
                action="https://techtogether.us17.list-manage.com/subscribe/post?u=34946c2c134f07563cac527a4&amp;id=8f464558c6"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL"><a class="home-title">Stay in Touch</a></label>
                    <p>Sign up for our bi-weekly newsletter to be the first to know about exclusive TechTogether events, job opportunities, and contests.</p>
                    <div class="container" style="padding-top:10px;">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                        required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_34946c2c134f07563cac527a4_8f464558c6" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                            class="button" style="background-color:var(--teal);"></div></div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="page-footer font-small p-5">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-8 mt-md-0 mt-3">
                <!-- Content -->
                <a class="navbar-brand" href="#">
                    <img src="imgs/logos/lockup_techtogether_color.png" height="70" alt="logo">
                </a>

            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <ul class="list-unstyled">
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/chapter">Chapters</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <ul class="list-unstyled">
                    <li>
                        <a href="/research">Research</a>
                    </li>
                    <li>
                        <a href="/donate">Donate</a>
                    </li>
                    <li>
                        <a href="/history">History</a>
                    </li>
                    <li>
                        <a href="/corporate">Corporate</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright py-3">
        <div class="row" style="border-top: 2px solid gainsboro;">
            <div class="col-3 text-left">
                ©TechTogether 2019
            </div>
            <div class="col">

            </div>
            <div class="col-5 text-right">
                <a>designed and developed with tons of love and coffee <br> from the TechTogether Team</a>
            </div>
        </div>
        <!-- Copyright -->

</footer>
<!-- Footer -->