<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index">
    <img src="/imgs/logos/lockup_techtogether_color.png" height="40" class="d-inline-block align-top"
        alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/resources" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/about">Our Mission</a>
          <a class="dropdown-item" href="/success">Success Stories</a>
          <a class="dropdown-item hide-mobile" href="/alumnae">Our Alumnae</a>
          <a class="dropdown-item hide-mobile" href="/newsroom">Newsroom</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/resources" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/prehacks">PreHacks</a>
            <a class="dropdown-item" href="/events">Hackathons</a>
            <a class="dropdown-item" href="/workshops">Workshops</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/resources" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/resources">Organize a Hackathon</a>
          <a class="dropdown-item" href="/inclusivity_resources">Educational Resources</a>
          <a class="dropdown-item" href="/hacker_resources">Build a Hack</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/resources" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Get Involved
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/advertise">Advertise</a>
          <a class="dropdown-item" href="/partner">Partnerships</a>
          <a class="dropdown-item" href="/volunteer">Volunteer</a>
          <a class="dropdown-item" href="/donate">Donate</a>
        </div>
      </li>

        <li class="nav-item">
        <a class="nav-link" href=" http://bit.ly/tt-steminist-store" target="_blank" aria-haspopup="true" aria-expanded="false">
          Steminist Store
        </a>
      </li>

    </ul>
    <span class="navbar-text">
      <a class="dropdown-item hide-mobile" href="/donate">Donate</a>
    </span>
  </div>
</nav>