<div style="background-color: rgba(143,153,251, 0.8);">
<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup" class="newsletter-container">
	<form
		action="https://techtogether.us17.list-manage.com/subscribe/post?u=34946c2c134f07563cac527a4&amp;id=8f464558c6"
		method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
		novalidate>
		<div id="mc_embed_signup_scrol">
			<div class="input-container">
				<div class="row mx-auto d-flex justify-content-center">
					<div class="col-8">
						
						<h3 style="font-size: 25px; text-align: left; color: white; font-weight:bolder">Sign up for our newsletter</i></h3>
						
						<h4 style="color:white; text-align: left; padding-right:30px; font-family: Helvetica-Light, sans-serif; font-size: 18px; margin-top:0px">Hand-picked discoveries and resources to help you thrive in tech.</h4>

						<div class="mc-field-group">
							<input type="email" placeholder="Email Address" value="" name="EMAIL" class="required email"
								id="mce-EMAIL"
								style="border-top:transparent; border-left: transparent; border-right: transparent; background-color: white ">
						</div>
						<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
								name="b_34946c2c134f07563cac527a4_8f464558c6" tabindex="-1" value=""></div>
						<div class="clear subscribe" style="float:left; margin-top:0">
							<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
						</div>

					</div>
					<div class="col-2"></div>
					<div class="col-2"></div>
				</div>
			</div>
		</div>

	</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script
	type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[1] = 'NAME'; ftypes[1] = 'text'; fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[2] = 'COMPANY'; ftypes[2] = 'text'; fnames[3] = 'JOBTITLE'; ftypes[3] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
</div>