@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,700;1,300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

.about {
    color: white;
    display: flex;
    height: 100%;
    width: 100%;

    .aboutSubcontainer{
        position: relative;
        margin: auto 5% auto 15%;
        font-family: "Barlow", sans-serif;
        // display: inline-flex;

        h2 {
            text-transform: uppercase;
            font-size: 45px;

            :first-child {
                font-weight: 700;
            }

            :last-child {
                font-style: italic;
                font-weight: 300;
            }
        
        }
        
        p {
            font-weight: 300;
        }
    }
}