@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.sponsors {
    color: white;
    display: flex;
    height: 100%;
    width: 100%;

    .sponsorsSubcontainer{
        position: relative;
        margin: 70px 8%;
        // display: inline-flex;

        h2 {
            text-align: center;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            font-weight: bold;
            font-size: 40px;
        }
    }
}