---
layout: default
title: TechTogether
---

<div class="background-above-the-fold container-fluid py-md-1 mt-5">
    <div class="col-8 offset-2 col-md-4 offset-md-4 py-5">
        <div id="ttm-logo">
            <img class="ttm-logo" src="imgs/ttm-logo.svg" alt="TechTogether Miami"/> 
        </div>
        <div id="ttm-date-time-location">
            <img class="ttm-date-time-location" src="imgs/ttm-date-time-location.svg" alt="Event is being hosted out of Miami, FL from February 11, 2022 to February 13, 2022"/> 
        </div>
        <div id="register-button" class="pe-4">
            <a href="https://www.eventbrite.com/e/techtogether-miami-tickets-166261090397"
            target="_blank">
                <button type="button" class="btn">
                    Register Now!
                </button>
            </a>
        </div>
    </div>
</div>

<div class="bg-miami-gradient">
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 id="About">ABOUT US</h1>
                    <p>TechTogether Miami is dedicated to empowering underrepresented communities in the STEM field by showcasing the talents of these indiviudals, creating a diverse and all-inspiring community.</h6>
                    <hr>
                    <p>TechTogether gives all members, from beginner to expert, oppurtunties to network amongst peers and employers, gain valuable skills, and take part in bridging the gender-gap in the STEM community.</h6>  
                </div>
                <div class="col hide-mobile">
                    <img class="col" src="imgs/image_1.png" width="85%" alt="Two hackers celebrating their accomplishments">
                </div>
            </div>
        </div>
    </section> 

    <!-- Learn New Skills Section -->
    <section class="py-5">
        {% include newskills.html %}
    </section> 

    <!-- Sponsor Page -->
    <section class="pb-5">
        <h1 id="Sponsors">OUR SPONSORS</h1> 
        {% include sponsors.html %}
    </section>

    <!-- Schedule Section -->
    <section class="pb-5">
        <h1 id="Schedule">SCHEDULE</h1> 
        <div class="container">
            {% include schedule.html %}
        </div>
    </section>

    <!-- Get Involved Section-->
    <section class="pb-5">
        <h1 id="Get_Involved">GET INVOLVED</h1> 
        <div class="container">
            {% include getinvolved.html %}
        </div>
    </section>

        <!-- Challenges Section-->
        <section class="pb-5">
            <h1 id="Challenges">CHALLENGES</h1> 
            <div class="container">
                {% include challenges.html %}
            </div>
        </section>

    <!-- FAQs -->
    <section class="pb-5">
        <h1 id="FAQ">FAQ</h1> 
        <div class="container">
            {% include faq.html %}
        </div>
    </section>

    <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
</div>