<footer class="font-small">
  <div class="social-container container-fluid align-items-center">
    <h1 id="Contact">CONTACT US</h1>
    <div class="mb-5">
      <a href="https://twitter.com/TechtogetherM?lang=en" target="_blank">
        <img class="social-icon" src="imgs/socials/twitter.svg" alt="TechTogether Miami's Twitter"/>
      </a>
      <a
        href="https://www.linkedin.com/company/techtogether-miami"
        target="_blank"
      >
        <img class="social-icon" src="imgs/socials/linkedin.svg" alt="TechTogether Miami's LinkedIn"/>
      </a>
      <a
        href="https://www.facebook.com/TechTogether-Miami-105280648428541"
        target="_blank"
      >
        <img class="social-icon" src="imgs/socials/facebook.svg" alt="TechTogether Miami's Facebook"/>
      </a>
      <a href="https://www.instagram.com/techtogethermiami/" target="_blank">
        <img class="social-icon" src="imgs/socials/instagram.svg" alt="TechTogether Miami's Instagram"/>
      </a>
      <a href="mailto:info.miami@techtogether.io" target="_blank">
        <img class="social-icon" src="imgs/socials/email.svg" alt="Email TechTogether Miami"/>
      </a>
    </div>
    <div class="made-with-confetti mt-3">MADE WITH 🎊 IN MIAMI</div>
  </div>
  <div class="footer-background">
    <img class="drive-in-footer" src="imgs/drive-in-footer.svg" alt="People watching a drive-through movie under the stars"/>
  </div>
</footer>
<!-- Footer -->
