
<footer class="font-small">
    <div class="social-container container-fluid align-items-center">
        <div class="made-with-confetti">
            MADE WITH 🎊 IN MIAMI
        </div>
        <div>
            <a href="https://twitter.com/techtogether_?lang=en">
                <img class="social-icon" src="imgs/twitter.svg">
            </a>
            <a href="https://www.linkedin.com/company/techtogether-empower/">
                <img class="social-icon" src="imgs/linkedin.svg">
            </a>
            <a href="https://www.facebook.com/endthehackergap/">
                <img class="social-icon" src="imgs/facebook.svg">
            </a>
            <a href="https://medium.com/techtogether">
                <img class="social-icon" src="imgs/medium.svg">
            </a>
            <a href="https://www.instagram.com/techtogether_/">
                <img class="social-icon" src="imgs/instagram.svg">
            </a>
        </div>    
    </div>
    <div class="footer-background">
        <img class="drive-in-footer" src="imgs/drive-in-footer.svg">
    </div>
</footer>
<!-- Footer -->

<!-- Scripts -->
<script src="js/circle.js" type="text/javascript"></script>
