<footer class="font-small">
  <div class="social-container container-fluid align-items-center">
    <div class="made-with-confetti">MADE WITH 🎊 IN MIAMI</div>
    <div>
      <a href="https://twitter.com/TechtogetherM?lang=en" target="_blank">
        <img class="social-icon" src="imgs/twitter.svg" alt="TechTogether's Twitter"/>
      </a>
      <a
        href="https://www.linkedin.com/company/techtogether-miami"
        target="_blank"
      >
        <img class="social-icon" src="imgs/linkedin.svg" alt="TechTogether's LinkedIn"/>
      </a>
      <a
        href="https://www.facebook.com/TechTogether-Miami-105280648428541"
        target="_blank"
      >
        <img class="social-icon" src="imgs/facebook.svg" alt="TechTogether's Facebook"/>
      </a>
      <a href="https://www.instagram.com/techtogethermiami/" target="_blank">
        <img class="social-icon" src="imgs/instagram.svg" alt="TechTogether's Instagram"/>
      </a>
    </div>
  </div>
  <div class="footer-background">
    <img class="drive-in-footer" src="imgs/drive-in-footer.svg" alt="People watching a drive-through movie under the stars"/>
  </div>
</footer>
<!-- Footer -->
