{% comment %} TODO {% endcomment %}
<div class="row">
  <div class="getinvolved getinvolved-col">
    <div class="container">
      <p>Become a hacker to learn and network with sponsors</p>
      <button
        class="getinvolved-button"
        href="https://www.eventbrite.com/e/techtogether-miami-tickets-166261090397"
        target="_blank"
      >
        Hack
      </button>
    </div>
  </div>
  <div class="getinvolved getinvolved-col">
    <div class="container">
      <p>Become a volunteer to give back to the community</p>
      <button
        class="getinvolved-button"
        href="https://www.eventbrite.com/e/techtogether-miami-tickets-166261090397"
        target="_blank"
      >
        Volunteer
      </button>
    </div>
  </div>
  <div class="getinvolved getinvolved-col">
    <div class="container">
      <p>Become a sponsor to help us host an awesome event</p>
      <button
        class="getinvolved-button"
        href="https://www.eventbrite.com/e/techtogether-miami-tickets-166261090397"
        target="_blank"
      >
        Sponsor Us
      </button>
    </div>
  </div>
</div>
