<div class="row">
  <div class="getinvolved col-lg">
    <div class="container">
      <p class="text-center">Become a hacker to learn and network with sponsors. <b>No experience required!</b></p>
      <a href="https://www.eventbrite.com/e/techtogether-miami-tickets-166261090397"
        target="_blank">
        <button
          type="button"
          class="btn btn-ttmiami-cyan mb-1"
        >
          Hack
        </button>
      </a>
    </div>
  </div>
  <div class="getinvolved col-lg">
    <div class="container">
      <p class="text-center">Volunteer to help during our event and give back to the community!</p>
      <a href="https://techtogether.typeform.com/to/VLfDt2FU?typeform-source=techtogether.io"
      target="_blank">
        <button
          type="button"
          class="btn btn-ttmiami-red mb-1"
          
        >
          Volunteer
        </button>
      </a>
    </div>
  </div>
  <div class="getinvolved col-lg">
    <div class="container">
      <p class="text-center">Your company can help us host a successful event and find awesome talent!</p>
      <a href="https://techtogether.typeform.com/to/B7gH63j2?typeform-source=techtogether.io"
      target="_blank">
        <button
          type="button"
          class="btn btn-ttmiami-yellow mb-1"

        >
          Sponsor Us
        </button>
      </a>
    </div>
  </div>
</div>
