<nav class="navbar navbar-expand-lg navbar-dark bg-miami fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-5" href="https://techtogether.io/index">
      <img src="/imgs/ttm-wordmark.png" height="40" class="d-inline-block align-top"
          alt="TechTogether Miami logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTTMiami" aria-controls="navbarTTMiami" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTTMiami">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#About">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/#Sponsors">Sponsors</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/#Schedule">Schedule</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/#Get_Involved">Get Involved</a>
        </li>

        <li class="nav-item me-5">
          <a class="nav-link" href="/#FAQ">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
