<div class="container">
  <div class="row">
    <div class="col hide-mobile">
      <div class="row" style="padding-right: 15%">
        <div class="col">
          <h2>Design</h2>
          <img class="byte-img" src="imgs/bytes/design.svg" alt="Byte holding a paintbrush"/>
        </div>
        <div class="col">
          <h2>App Dev</h2>
          <img class="byte-img" src="imgs/bytes/appdev.svg" alt="Byte working on a mobile app"/>
        </div>
      </div>
      <div class="row" style="padding-left: 15%">
        <div class="col">
          <h2>Game Dev</h2>
          <img class="byte-img" src="imgs/bytes/gamedev.svg" alt="Byte developing a game"/>
        </div>
        <div class="col">
          <h2>Web Dev</h2>
          <img class="byte-img" src="imgs/bytes/webdev.svg" alt="Byte creating a website"/>
        </div>
      </div>
    </div>
    <div class="col">
      <h1 id="Why_Hack">LEARN NEW SKILLS</h1>
      <p>
        Don't have any skills? No problem! TechTogether Miami is a safe space for
        those who are just getting into tech, as well as those who have more experience.
        Join one of our free workshops to gain the skills you need to develop something awesome!
      </p>
      <hr />
      <p>
        Want to specialize into a specific subject area? Follow along one of our workshop tracks
        to gain a more complete skill-set and enhance your career! Our workshops are grouped into
        four main tracks: <b>Design, App Development, Game Development, and Web Development!</b>
      </p>
    </div>
  </div>
</div>
