<div class="container">
  <div class="row">
    <div class="col hide-mobile">
      <div class="row" style="padding-right: 15%">
        <div class="col">
          <h2>Design</h2>
          <img class="byte-img" src="imgs/bytes/design.svg" />
        </div>
        <div class="col">
          <h2>VR</h2>
          <img class="byte-img" src="imgs/bytes/virtualreality.svg" />
        </div>
      </div>
      <div class="row" style="padding-left: 15%">
        <div class="col">
          <h2>Game Dev</h2>
          <img class="byte-img" src="imgs/bytes/gamedev.svg" />
        </div>
        <div class="col">
          <h2>Web Dev</h2>
          <img class="byte-img" src="imgs/bytes/webdev.svg" />
        </div>
      </div>
    </div>
    <div class="col">
      <h1 id="Why_Hack">LEARN NEW SKILLS</h1>
      <p>
        TechTogether Miami is dedicated to empowering underrepresented
        communities in the STEM field by showcasing the talents of these
        indiviudals, creating a diverse and all-inspiring community.
      </p>
      <hr />
      <p>
        TechTogether gives all members, from beginner to expert, oppurtunties to
        network amongst peers and employers, gain valuable skills, and take part
        in bridging the gender-gap in the STEM community.
      </p>
    </div>
  </div>
</div>
